---
import Layout from "../layouts/Layout.astro";
---

<Layout title="anurag">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script
    src="https://kit.fontawesome.com/4b7d3e4626.js"
    crossorigin="anonymous"
  ></script>
  <main>
    <div class="mt-[5rem] text-[4rem]">
      Hi, I'm <span class="font-bold"> Anurag,</span>
    </div>
    <div class="text-[1.5rem] font-semibold">a full stack developer.</div>
    <div></div>
    <!-- <div class="flex justify-center mt-[5rem] ">
			<a href="/builds" class="bg-black font-semibold border-4 border-black text-white rounded-full px-5 py-2 hover:bg-white hover:text-black">explore</a>
		</div> -->
    <div class="flex justify-center mt-[8rem]">
      <a href="https://github.com/Anurag30112003" class="text-[1.3rem] mx-3 hover:text-[1.5rem]">
        <i class="fa-brands fa-github "></i>
      </a>
	  <a href="https://twitter.com/theanuragdev" class="text-[1.3rem] mx-3 hover:text-[1.5rem]">
		<i class="fa-brands fa-twitter"></i>
	  </a>
    </div>
  </main>
</Layout>

<style></style>
