---
import Layout from '../layouts/Layout.astro';
---

<Layout title="anurag">
	<main>
		<div class="mt-[5rem] text-[4rem]  ">
			Hi, I'm <span class="font-bold"> Anurag,</span> 
		</div>
		<div class="text-[1.5rem] font-semibold">a full stack developer.</div>
		<div>
		</div>
		<div class="flex justify-center mt-[5rem] ">
			<a href="/builds" class="bg-black font-semibold border-4 border-black text-white rounded-full px-5 py-2 hover:bg-white hover:text-black">explore</a>
		</div>
	</main>
</Layout>

<style>
</style>
