---
import Layout from "../layouts/Layout.astro";
---

<Layout title="done this week">
    <main>
        <div class="flex justify-center">
            <img src="../../public/img/week.jfif" alt="" class="w-[40%]">
        </div>
  </main>
</Layout>
