---
---

<main>
  <div class="navbar">
    <a
      href="/"
      class="float-left font-semibold text-xl mt-[-4px] hover:cursor-pointer"
      >anurag</a
    >
    <div class="flex justify-center">
      <a href="/builds" class="mx-5 hover:underline hover:cursor-pointer"
        >builds</a
      >
      <a
        href="https://github.com/Anurag30112003"
        class="mx-5 hover:underline hover:cursor-pointer">github</a
      >
      <a
        href="https://twitter.com/theanuragdev"
        class="mx-5 hover:underline hover:cursor-pointer">twitter</a
      >
    </div>
  </div>
</main>
    
<style>
  .navbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 5rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.20);
  }
</style>
