---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://api.fontshare.com/v2/css?f[]=chillax@600,500,300,700,400,200&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: 'Chillax', sans-serif;
		color: #000000;
		background-color: #ffffff;
		margin-left: 8rem;
		margin-right: 8rem;
		font-size: 25px;

	}
</style>
